<form method="post">
    Sorting Method: <select value="<%=selectedSort%>" onchange="this.form.submit()" name="sort" 
        class="form-control-sm mt-3 sortMethod">
        <option>Total Responses (Ascending)</option>
        <option>Total Responses (Descending)</option>
        <option>Date Created (Earliest First)</option>
        <option>Date Created (Latest First)</option>
    </select>
</form>

<script>
    var sortSelectBox = document.querySelector(".sortMethod")
    var test = "<%-selectedSort%>"
    sortSelectBox.value = test
</script>

<br>

<div class="d-flex flex-column flex-wrap overflow-scroll m-3 p-3">
    <% for (poll of polls) { %>
        <div class="row bg-light border border-primary m-3 p-3">
            <div class="col">
                <div class="row mb-5">
                    <h1><%=poll.title%></h1>
                    <p><%=poll.description%></p>
                </div>
                <div class="row">
                    <p>Total Responses: <%=poll.totalResponses%></p>
                    <p>Date Created: <%=poll.dateCreated%></p>
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-end my-4">
                    <a class="btn btn-primary w-25" href="/poll/<%=poll._id%>" role="button">Fill Out</a>
                </div>
                <div class="row justify-content-end">
                    <a class="btn btn-primary w-25" href="/stats/<%=poll._id%>" role="button">Statistics</a>
                </div>
            </div>
        </div>
    <% } %>
</div>