<h1>Poll Statistics for <%=poll.title%></h1>

<hr>

<% var questionNumber = 1
for (question of poll.questions) { %>
    <h3>Question #<%=questionNumber%>: <%=question.question%></h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Response</td><td>Number of Responses</td><td>Percentage of Total</td>
            </tr>
        </thead>
        <tbody>
            <% for (option of question.options) {
                var percentOfTotal = 0
                if (question.totalResponses > 0) {
                    percentOfTotal = option.responses / question.totalResponses * 100
                    percentOfTotal = percentOfTotal.toFixed(2)
                } %>
                <tr>
                    <td><%=option.name%></td><td><%=option.responses%></td><td><%=percentOfTotal%>%</td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <hr>
    <% questionNumber += 1
} %>